<launch>
    <arg name="configfile" default=""/>

    <node name="ic_gvins_node" pkg="ic_gvins" type="ic_gvins_ros" output="screen">
        <param name="imu_topic" value="/imu0"/>
        <param name="gnss_topic" value="/gnss0"/>
        <param name="image_topic" value="/cam0"/>

        <!-- TODO: i2Nav-Robot dataset -->
        <!-- <param name="imu_topic" value="/adi/adis16465/imu"/>
        <param name="gnss_topic" value="/novatel/oem7/fix"/>
        <param name="image_topic" value="/avt_camera/left/image"/> -->

        <param name="configfile" value="$(arg configfile)"/>
    </node>

    <!-- TODO: i2Nav-Robot dataset -->
    <!-- <node pkg="image_transport" type="republish" name="republish_left" output="screen" args="compressed raw">
        <remap from="in" to="/avt_camera/left/image"/>
        <remap from="out" to="/avt_camera/left/image"/>
    </node> -->

    <node pkg="tf2_ros" type="static_transform_publisher" name="world_to_map_broadcaster"
          args="0 0 0 -1 0 0 0 map world"/>
    <node name="visualisation" pkg="rviz" type="rviz" output="log" args="-d $(find ic_gvins)/../config/visualization.rviz"/>

</launch>